.outline {
  text-shadow: 2px 2px 0px #000000;
}

.yellow {
  color: #ffc107;
}

.unique-btn {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  color: #f3c623;
  font-weight: 700;
  border: 1px solid #f3c623;
  padding: 2px 5px; }
